@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    font-family: 'Poppins', sans-serif;

  }

  body{
    background-color: #fdfeff;
    overflow-x: hidden;
  }
}

/* Custom scroll bar */
.scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #8E7654;
  border-radius: 3px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: #F0E4D3;
}

@layer components{
  .input-box{
    @apply w-full text-sm bg-[#F0E4D3] border border-[#A38A6D] rounded-lg px-5 py-3 mb-4 outline-none focus:ring-2 focus:ring-[#8E7654] shadow-sm;
  }

  .btn-primary{
    @apply w-full text-sm font-medium bg-[#8E7654] text-white shadow-md rounded-full py-3 transition-all duration-300 ease-in-out hover:bg-[#6D5641] hover:shadow-lg;
  }

  .btn-secondary{
    @apply w-full text-sm font-medium bg-[#A38A6D] text-[#6D5641] shadow-md rounded-full py-3 transition-all duration-300 ease-in-out hover:bg-[#8E7654] hover:text-white;
  }

  .login-ui-box{
    @apply w-80 h-[450px] rounded-full bg-primary absolute rotate-45;
  }

  .icon-button{
    @apply text-[22px] text-slate-300 cursor-pointer hover:text-red-500;
  }

  .model-box{
    @apply w-[80vw] md:w-[40%] h-[80vh] bg-white rounded-lg mx-auto mt-14 p-5 overflow-y-scroll scrollbar z-50;
  }
}
